.containerForms {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.containerForms select {
  background-color: #0c0d0c;
  border-style: outset;
  border-radius: 05px;
  color: #ffe81f;
  font-family: cursive;
  font-size: larger;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 180px;
}

.inputName {
  background-color: #0c0d0c;
  border-style: outset;
  border-radius: 05px;
  color: #fffff7;
  font-family: cursive;
  font-size: larger;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  width: 200px;
}

.inputNumber {
  background-color: #0c0d0c;
  border-radius: 05px;
  border-style: outset;
  color: #ffe81f;
  font-family: cursive;
  font-size: larger;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.btnForm {
  background-color: #ffe81f;
  border-color: #fffff7;
  border-radius: 05px;
  color: #0c0d0c;
  font-family: cursive;
  font-size: large;
  height: 40px;
  margin-right: 10px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px 1px darkgray;
}

.inputASC {
  color: #ffe81f;
  font-family: cursive;
  font-size: larger;
  margin-right: 5px;
}

.inputDESC {
  color: #ffe81f;
  font-family: cursive;
  font-size: larger;
  margin-right: 5px;
}

#descendente {
  border-color: #ffe81f;
}

.filterSaved {
  align-items: center;
  color: #ffe81f;
  display: flex;
  font-family: cursive;
  font-size: medium;
  margin-left: 22px;
  margin-top: 10px;
}

.filterSaved button {
  background-color: red;
  border-color: #fffff7;
  border-radius: 50px;
  color: #fffff7;
  font-size: 10px;
  height: 20px;
  margin-left: 5px;
}

.logo {
  height: 80px;
  margin-bottom: 20px;
  width: 200px;
}